@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

body {
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}

/* Intro */

.intro {
	padding-top:10px;
	width:100%;
	height:1000px;
	background:linear-gradient(to top left, powderblue, pink);
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

/* Header */

.header {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.logo {
	font-family:Caveat;
	font-size:24px;
	border:1px solid rgba(0,0,0,0);
	background:rgba(176,197,230);
	padding-right:10px;
	padding-bottom:5px;
	border-radius:25px;
	animation:logo 10s linear infinite alternate;
}

@keyframes logo {
	0% { color:#ffffff; }
	100% { color:#0000ff; }
}

/* Nav */

.nav {
	text-transform:uppercase;
}
.link__cell {
	margin:0 10px;
	position:relative;
	font-family:"Amatic SC";
	font-size:36px;
	text-decoration:none;
	color:#666666;
	transition: color .2s linear;
}

.link__cell:after {
	content:"";
	display:block;
	width:100%;
	height:2px;
	background:#000000;
	position:absolute;
	top:100%;
	left:0;
	z-index:1;
	opacity:0;
	transition: opacity .2s linear;
}

.link__cell:hover {
	color:#000000;
}

.link__cell:hover:after,
.link__cell.active:after {
	opacity:1;
}

.link__cell.active {
	color:#000000;
}

/* Preview */

.preview {
	width:100%;
	max-width:1250px;
	margin:0 auto;
	text-align:center;
}

.preview__header {
	margin-top:150px;
	font-family:Caveat;
	font-size:36px;
	color:#333333;
}

.preview__text {
	font-family:Neucha;
	font-size:24px;
	color:#333333;
	margin:40px auto;
}

.preview__text:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

/* Button */

.btn {
	display:inline-block;
	border:2px solid white;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	font-family:Neucha;
	font-size:24px;
	padding:10px 15px;
	transition: background .2s linear, color .2s linear;
}

.btn:hover {
	background:#ffffff;
	color:#000000;
}

/* Slider */

.slider {
	display:flex;
	justify-content:space-between;
	margin-top:300px;
}

.slider__item {
	width:23%;
	padding:20px 0;
	border-top:2px solid #333333;
	font-size:24px;
	text-transform:uppercase;
	font-family:Neucha;
	color:#333333;
	opacity:.75;
	transition:opacity .2s linear;
}

.slider__item:hover {
	opacity:1;
}

.slider__num {
	font-size:28px;
	font-weight:700;
}

/* Info */

.info {
	width:100%;
	height:1000px;
	background:#ffffff;
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.about {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.about__header {
	margin-top:50px;
	font-family:Caveat;
	font-size:36px;
	color:#333333;
	text-align:center;
}

.about__header:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

.about__text {
	font-family:Neucha;
	font-size:24px;
	color:#333333;
	text-align:center;
}

/* Images */

.images {
	display:flex;
	margin-top:100px;
	align-items:center;
}

.image__item {
	width:50%;
}

.img {
	box-shadow: 5px 5px 5px 1px grey;
	transition: width .2s linear, height .2s linear;
}

.img:hover {
	width:450px;
	height:450px;
}

/* Content */

.content {
	padding-top:10px;
	width:100%;
	height:1000px;
	background:linear-gradient(to top left, pink, powderblue);
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}