/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* General */
body {
	margin:0;
}
h1,h2,h3,h4,h5,h6 {
	margin:0;
}

/* Fix Menu */

#fix img {
	width:25px;
	height:25px;
	text-decoration:none;
	display:flex;
	color:#000000;
	position: fixed;
	bottom:25px;
	left:25px;
	padding:15px 15px;
	font-family:Arial;
	font-size:24px;
	opacity:0.75;
	background: rgba(128,128,128,0.5);
	border-radius: 50px;
	transition: padding .1s linear, width .1s linear, height .1s linear;
	align-items:center;
}

#fix img:hover {
	padding:25px 25px;
	width:40px;
	height:40px;
}

/* Intro */

.intro {
	padding-top:10px;
	width:100%;
	height:1000px;
	background: linear-gradient(-45deg, #cfecd0, #ffc5ca);
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

/* Header */

.header {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

.logo {
	font-family:Caveat;
	font-size:24px;
	border:1px solid rgba(0,0,0,0);
	background:rgba(128,0,0,0.75);
	padding-right:10px;
	padding-bottom:5px;
	border-radius:25px;
	animation:logo 10s linear infinite alternate;
}

@keyframes logo {
	0% { color:#ffffff; }
	100% { color:#000000; }
}

/* Nav */

.nav {
	text-transform:uppercase;
}

.link__cell {
	margin:0 10px;
	position:relative;
	font-family:"Amatic SC";
	font-size:36px;
	text-decoration:none;
	color:#666666;
	transition: color .2s linear;
}

.link__cell:after {
	content:"";
	display:block;
	width:100%;
	height:2px;
	background:#000000;
	position:absolute;
	top:100%;
	left:0;
	z-index:1;
	opacity:0;
	transition: opacity .2s linear;
}

.link__cell:hover {
	color:#000000;
}

.link__cell:hover:after,
.link__cell.active:after {
	opacity:1;
}

.link__cell.active {
	color:#000000;
	background:rgba(0,0,0,0);
}

/* Preview */

.preview {
	width:100%;
	max-width:1250px;
	margin:0 auto;
	text-align:center;
}

.preview__header {
	margin-top:150px;
	font-family:Caveat;
	font-size:28px;
	color:#333333;
}

.preview__text {
	font-family:Neucha;
	font-size:24px;
	color:#333333;
	margin:40px auto;
}

.preview__text:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

/* Button */

.btn {
	display:inline-block;
	border:2px solid white;
	text-decoration:none;
	color:white;
	text-transform:uppercase;
	font-family:Neucha;
	font-size:24px;
	padding:10px 15px;
	transition: background .2s linear, color .2s linear;
}

.btn:hover {
	background:#ffffff;
	color:#000000;
}

/* Category */

.category {
	display:flex;
	justify-content:space-between;
	margin-top:300px;
}

.category__item {
	width:23%;
	padding:20px 0;
	border-top:2px solid #333333;
	font-size:24px;
	text-transform:uppercase;
	font-family:Neucha;
	color:#333333;
	opacity:.75;
	transition:opacity .2s linear;
}

.category__item:hover {
	opacity:1;
}

.category__num {
	font-size:28px;
	font-weight:700;
}

/* Info */

.info {
	padding-top:10px;
	width:100%;
	height:1000px;
	background:#ffffff;
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.about {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.about__header {
	margin-top:50px;
	font-family:Caveat;
	font-size:28px;
	color:#333333;
	text-align:center;
}

.about__header:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

.about__text {
	font-family:Neucha;
	font-size:24px;
	color:#333333;
	text-align:center;
}

/* Images */

.images {
	display:flex;
	margin-top:100px;
	align-items:center;
}

.image__item {
	width:50%;
}

.img {
	box-shadow: 5px 5px 5px 1px grey;
	transition: width .25s linear, height .25s linear;
}

.img:hover {
	width:450px;
	height:450px;
}

/* Content */

.content {
	padding-top:10px;
	width:100%;
	height:1000px;
	background: linear-gradient(0deg, #ffc5ca, #cfecd0);
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.media__header {
	margin-top:50px;
	font-family:Caveat;
	font-size:28px;
	color:#333333;
	text-align:center;
}

.media__header:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

.video {
	display:flex;
	justify-content:center;
}

.video__frame {
	padding:0 5px;
	width:50%;
	height:400px;
}

.media__text {
	font-family:Neucha;
	font-size:24px;
	color:#333333;
	margin:40px auto;
	text-align:center;
}

/* Purpose */

.purpose {
	padding-top:10px;
	width:100%;
	height:1000px;
	background:#ffffff;
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.purpose__header {
	margin-top:50px;
	font-family:Caveat;
	font-size:28px;
	color:#333333;
	text-align:center;
}

.purpose__header:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}

/* Slider */

.slider{
    max-width:100%;
    position:relative;
    height:700px;
    margin-bottom:130px;
    margin:auto;
}

.slider .item img {
    object-fit:cover;
    width:100%;
    height:700px;
}

.slider .prev, .slider .next {
    cursor:pointer;
    position:absolute;
    top:0;
    top:50%;
    width:auto;
    margin-top:-22px;
    padding:16px;
    color:white;
    font-weight:bold;
    font-size:18px;
    transition:0.6s ease;
    border-radius:0 3px 3px 0;
}

.slider .next {
    right:0;
    border-radius:3px 0 0 3px;
}

.slider .prev:hover, .slider .next:hover {
    background-color:rgba(0, 0, 0, 0.8);
}

.slideText {
    position:absolute;
	text-align:center;
    color:#fff;
    font-size:32px;
	font-family:Neucha;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    text-shadow:1px 1px 1px #000, 0 0 1em #000;
}

.slider-dots {
  text-align:center;
 
}

.slider-dots_item {
    cursor:pointer;
    height:12px;
    width:12px;
    margin:0 2px;
    background-color:#ddd;
    border-radius:50%;
    display:inline-block;
    transition:background-color 0.6s ease;
}

.active, .slider-dots_item:hover {
    background-color:#aaa;
}

.slider .item {
    -webkit-animation-name:fade;
    -webkit-animation-duration:1.5s;
    animation-name:fade;
    animation-duration:1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}

@keyframes fade {
    from {
        opacity:.4
    }
    to {
        opacity:1
    }
}

/* Technology */

.technology {
	padding-top:10px;
	width:100%;
	height:1000px;
	background: linear-gradient(45deg, #cfecd0, #ffc5ca);
}

.container {
	width:100%;
	max-width:1250px;
	margin:0 auto;
}

.technology__header {
	margin-top:50px;
	font-family:Caveat;
	font-size:28px;
	color:#333333;
	text-align:center;
}

.technology__header:after {
	content:"";
	display:block;
	width:100px;
	height:3px;
	margin:40px auto;
	background:#333333;
}